[Unit]
Description=CarPi Server

[Service]
ExecStart=/usr/bin/node /home/j/car-pi/server.js
Restart=always
User=j
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=j
WorkingDirectory=/home/j/car-pi

[Install]
WantedBy=multi-user.target