<!DOCTYPE html>
<html>
<head>
    <title>Position History Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        const posHistory = <%- JSON.stringify(posHistory) %>;

        // Determine the initial map center
        const initialCenter = posHistory.length > 0 ? 
            [posHistory[0].position.lat, posHistory[0].position.lng] : 
            [0, 0]; // Fallback to coordinates [0, 0] if no GPS data

        const map = L.map('map').setView(initialCenter, 16);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const latlngs = [];

        posHistory.forEach((position, index) => {
            const { lat, lng, spd } = position.position;
            latlngs.push([lat, lng]);

            // Differentiate the last position with a different style
            const isLastPosition = index === posHistory.length - 1;
            const markerColor = isLastPosition ? 'green' : 'blue';
            const fillColor = isLastPosition ? '#3f0' : '#30f';

            L.circle([lat, lng], {
                color: markerColor,
                fillColor: fillColor,
                fillOpacity: 0.8,
                radius: 7
            }).addTo(map)
            .bindPopup(`Speed: ${spd} km/h<br>Time: ${new Date(position.time).toLocaleString()}`);
        });

        if (latlngs.length > 1) {
            L.polyline(latlngs, {color: 'red'}).addTo(map);
        }
    </script>
</body>
</html>
